.contactBox {
  width: 92vw;
  display: flex;
  align-items: center;
}
.contact {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactDiv {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}
.infoBox {
  margin: 2vw;
}
.infoBox h3 {
  margin: 2vh 0vh;
}
.infoBox p {
  margin: 1vh 0vh;
}
