.directors {
  background-image: url("../img/leaders.jpg");
  background-color: #001424;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.directorsHeading {
  border-bottom: solid 0.5vh white;
  border-radius: 5px;
  margin: 5vh 0;
}
.directorsText {
  margin: 0 10vw;
}
.directorIntro {
  margin: 10vh 0;
  width: 82vw;
  display: flex;
  justify-content: space-evenly;
}

.directorIntro img {
  border-radius: 400px;
  border: solid 0.15rem #03045e;
  background: #000;

  pointer-events: none;
  width: 12vw;
  height: 12vw;
}
.directorLinkedin {
  margin: 0.2vw 0.2vw;
  color: white;
  padding: 10px;
  border-radius: 1000px;
  background: #0a66c2;
}
.director {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .directors {
    width: 100vw;
  }
  .directorsHeading {
    font-size: 10px;
  }
  .directorIntro {
    width: 90vw;
    flex-direction: column;
    margin: 7vh 0;
  }
  .director {
    margin: 2vh 0;
  }
  .directorIntro img {
    width: 20vh;
    height: 20vh;
  }
  .directorsText {
    width: 90vw;
  }
}
