.joinUsBox {
  display: flex;
}
.joinUs {
  display: flex;
  flex-direction: column;
}
.joinHeading {
  display: flex;
  justify-content: center;
}
.joinHeading h1 {
  border-bottom: solid 0.5vh #03045e;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.departmentsToJoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vw;
  /* background: #000; */
}
.video {
  background: #000;
  height: 50vh;
  width: 50vh;
}
.departments {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
  text-decoration: none;
  color: #000;
  text-align: center;
  height: 25vh;
  width: 13vw;
  margin: 1rem;
  border-radius: 15px;
}

.department1 {
  background-color: rgba(171, 140, 218, 0.305);
}
.departmentCircle1 {
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgba(72, 28, 138, 0.305);
}
.department2 {
  background-color: rgba(111, 244, 244, 0.653);
}
.departmentCircle2 {
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgba(38, 167, 167, 0.861);
}
.department3 {
  background-color: rgba(187, 83, 213, 0.833);
}
.departmentCircle3 {
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgba(94, 12, 115, 0.833);
}
.department4 {
  background-color: rgba(88, 238, 88, 0.993);
}
.departmentCircle4 {
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgba(26, 147, 26, 0.993);
}
.department5 {
  background-color: rgb(242, 133, 133);
}
.departmentCircle5 {
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgb(210, 14, 14);
}
.departments:hover {
  box-shadow: 0 0.5vh 0.8vh rgb(136, 136, 136);
  transition: 200ms;
}
.departmentContent {
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  display: flex;
}
.data {
  width: 60vw;
}
.data p {
  font-size: large;
}
