* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hambergerImg {
  display: none;
}
.sideBarLogo {
  background: #000;
}
.SideBox {
  background-color: white;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 8.1vw;
  height: 100vh;
}
#HamburgerIcon {
  display: none;
}
#Logo {
  pointer-events: none;
  width: 8.1vw;
}
.SideBox ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.SideBox ul li {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.sideIcons {
  text-decoration: none;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  width: 8vw;
  color: black;
}
.sideIcons:hover {
  color: #00b4d8;
  transition: 0.4s;
}

.loginBtns {
  display: flex;
  flex-direction: column;
}

.loginBtns a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 5px;
  height: 4vh;
  width: 6vw;
  font-size: 0.8rem;
  font-weight: bold;
}
.loginBtns input:hover {
  cursor: pointer;
}
#Join {
  background-color: #ff0000;
}
#Contact {
  background: #03045e;
}
/* Responsive for mobiles */
@media only screen and (max-width: 768px) {
  .SideBox {
    margin-top: 8vh;
  }
  .sideIcons {
    width: 100vw;
    height: 6vh;
    border: none;
    margin: 1vh;
  }
  .sideBarLogo {
    display: none;
  }
  .topNavRes {
    background: black;
    z-index: 2;

    padding: 1.5vh 2vh;
    display: flex;
    position: fixed;
    height: 8vh;
    width: 100vw;
  }
  .hambergerImg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .hambergerImg img {
    height: 8vh;
  }
  .loginBtns {
    flex-direction: row;
  }
  .loginBtns a {
    width: 30vw;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  #HamburgerIcon {
    color: white;
    z-index: 2;
    padding: 1vh 2vh;
    display: block;
    position: fixed;
    right: 1vw;
    top: 1.5vh;
  }

  #HamToggleId {
    width: 100vw;
    position: fixed;
    z-index: 1;
    height: 48vh;

    top: 0;
    display: none;
  }
  #Logo {
    height: 7vh;
  }
}
