.tagline {
  background-color: #90e0ef;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.headImg {
  width: 40vw;
  pointer-events: none;
}
.headContent h1 {
  color: #03045e;
}
