.workBox {
  background-color: #90e0ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workBoxHeading {
  color: #03045e;
  margin: 3vh 0;
  border-bottom: solid 0.5vh #03045e;
  border-radius: 5px;
}
.workColumn {
  display: flex;
  width: 70vw;
  flex-direction: column;
  margin-bottom: 5vh;
}
.workTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workTab img {
  width: 20vw;
  pointer-events: none;
}
.workContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}
@media only screen and (max-width: 768px) {
  .workColumn {
    width: 90vw;
  }
  .workTab img {
    width: 40vw;
  }
  .workContent {
    margin: 8vh 0;
    width: 90vw;
  }
}
