.workBox {
  height: 100vh;
  border-top: solid 0.1vh #03045e;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92vw;
}

.workWeDo {
  display: flex;
}

.workTab {
  display: flex;
  height: 50vh;
  justify-content: space-between;
}
.heading {
  margin-top: 5vh;
  color: #03045e;
  border-bottom: solid 0.5vh #03045e;
}
.upperTabs {
  align-self: flex-start;
}
.lowerTabs {
  align-self: flex-end;
}
