.container {
  display: flex;
  height: 100vh;
}
.container section {
  background-color: red;
  width: 10vw;
}
#ActiveSection {
  background-color: gold;
  width: 52vw;
}
.container section:hover {
  background-color: white;
  width: 52vw;
}
