.sections {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}
.rightBar {
  width: 92vw;
}
/* ////// */

::-webkit-scrollbar {
  z-index: 1;
  width: 0.5vw;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: green;
}
